body {
  font-family: "Lucida Grande", sans-serif;
  background-color: darkgrey;
  margin: 20px 20px;
}

h1 {
  display: inline;
  background-color: dimgrey;
  color: lightgrey;
  padding: 1em;
  width: 500px;
}
h2 {
  background-color: slategrey;
  color: darkslategrey;
  padding: 1em;
  width: 200px;
}
h3 {
  background-color: darkslategrey;
  color: lightslategrey;
  padding: 1em;
  width: 200px;
}
pre {
  font-family: "Lucida Sans Typewriter", monospace;
  background-color: #1f2f2f;
  color: greenyellow;
}
section#HTML pre {
  line-height: 1.5em;
  padding: 2em;
}
